.App {
  text-align: center;
}

.background {
  background-image: url(./images/cottonpinkblue.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
