@font-face {
  font-family: futura;
  src: url(./fonts/Futura.otf);
}

@font-face {
  font-family: futurab;
  src: url(./fonts/azdt-Super.otf);
}

#logo {
  margin: 1rem 1rem;
}

.App {
  text-align: center;
  overflow: hidden;
  color: white;
  font-family: futura;
}

h1 {
  font-family: futurab;
  font-size: 15px;
  font-weight: 900;
  font-style: italic;
}

h2 {
  font-family: futurab;
  font-size: 45px;
  font-weight: 900;
}

p {
  font-size: 22.5px;
}

.background {
  background-image: url(./images/cottonpinkblue.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.players{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: -3rem;
  padding-right: -3rem;
}

.cards {
  margin-bottom: 1rem;
  padding: 0rem 3rem 0rem 3rem;
}

hr {
  border: .1px solid #eeeeee;
}

Button {
  color: blueviolet;
  font-family: 'Times New Roman', Times, serif;
}

.end-screen {
  font-size: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

h3 {
  font-size: 45px;
  font-family: futurab;
  font-weight: 900;
  font-style: italic;
}
