.App {
  text-align: center;
  overflow: hidden;
}

h1 {
  color: white;
}

.background {
  background-image: url(./images/cottonpinkblue.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.players{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
